# Quarto specific
/.quarto/
/_site/
/_book/
/_freeze/

# 原本的寫法 (容易鬼遮眼)
# *.html
# !index.html
# !docs/**/*.html  # 驚嘆號代表「除了這些之外」，強制追蹤 docs 裡面的 html

# R / RStudio (if applicable)
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python (if applicable)
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Windows / Mac System files
.DS_Store
Thumbs.db
Desktop.ini

# Environment variables (Protect your API keys!)
.env
**/*.quarto_ipynb
